@import "base/extends";
@import "base/animations";
@import "base/forms";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";

html {
	background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body { 
	color: #fff !important; 
  padding-bottom: 40px;
	background-color: transparent !important; 
	font-family: 'Josefin Slab', serif !important;
}

body:before {
          content: "";
          position: fixed;
          top: -10px;
          left: 0;
          width: 100%;
          height: 10px;

          -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
              -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                         box-shadow: 0px 0px 10px rgba(0,0,0,.8);

          z-index: 100;
}

.section {
	height: 100%;
	padding-top: 100px;
  padding-bototm: 40px;
}

h2 {
	text-shadow: 0px 1px #333 !important;
}


.tour {
  border: 1px #eee solid !important;
  background-color: rgba(51, 51, 51, 0.4) !important;
	height: auto;
  padding: 10px;
	border-radius: 5px;
  margin-bottom: 10px;

  h4, h5 {
    color: white !important;
  }
}

.circle {
    border-radius: 50%;
    height:50px;
    width: 50px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.info {
	height: 155px;
	display: inline;
	border-radius: 5px;
}

.info h4 {
	color: black;
}

.info h5 {
	color: black;
}

.general {
	display: inline; 
	margin-right: 10px;
}