@import "base/extends";
@import "base/animations";
@import "base/forms";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";

body { 
	color: #fff !important; 
	background-color: #333 !important; 
	font-family: 'Varela Round', sans-serif !important;
}

.section {
	height: 100%;
	padding-top: 160px;
}

.header {
	font-family: 'Poiret One', cursive !important;
	font-size: 600%;
}
