@import "base/extends";
@import "base/animations";
@import "base/forms";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";

body { 
	color: #fff !important; 
	background-color: #333 !important; 
	font-family: 'Varela Round', sans-serif !important;
}

.section {
	height: 100%;
	padding-top: 160px;
}

.header {
	font-family: 'Poiret One', cursive !important;
	font-size: 600%;
}

.tour {
	background-color:white;
	height: 155px;
	border-radius: 5px;
}

.circle {
    border-radius: 50%;
    height:50px;
    width: 50px;
}

.info {
	height: 155px;
	display: inline;
	border-radius: 5px;
}

.info h4 {
	color: black;
}

.info h5 {
	color: black;
}

.general {
	display: inline; 
	margin-right: 10px;
}