form label.error {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
  color: lighten( red, 20% );
}

.form-control {
	color: white !important;
	background-color: rgba(51, 51, 51, 0.4) !important;
	border: none !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.rbt-input {
	div, input {
	 	width: 100% !important;
	}
}

.rbt-input {
	.rbt-token {
		width: auto !important;
		padding-top: 1px;
		padding-left: 4px;
		padding-right: 4px;
		border: 1px white solid;
		display: inline-block;
		margin-right: 4px;
		margin-top: 0px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
}

.rbt-token-close-button { 
	margin-left: 5px;
    font-size: 108%;
}

.pager li>a, .pager li>span {
    color: white !important; 
    background-color: rgba(51, 51, 51, 0.4) !important;
    border: 1px solid #ddd;
}

.btn {
    color: white !important; 
    background-color: rgba(51, 51, 51, 0.4) !important;
    border: 1px solid #ddd !important;
}